<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <title>Thank You</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="wrapper">
    <div class="container">
        <h1>Oops! Something went wrong.</h1>
        <p>We encountered an error while processing your request. Please try again later.</p>
        
        <div class="email"></div>
        <!-- <h3>Попробуйте отправить заново</h3> -->
        <div class="organ">

            <div class="nosuccess">
                <h1>Попробуйте отправить заново</h1>
                <a href="/footer">Главная</a>
            </div>
    
        </div>
    
    </div>
   </div>
</body>
</html>


    
    

