<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="wrapper">
        <div class="container">
            <h1>Thank you for your submission!</h1>
            <!-- <h1>Днепр-мой любимый город</h1> -->
            <!-- <h3>Крупнейший город центральной Украины</h3> -->
            <div class="photo"></div>
            <h3>Органный зал в Днепре</h3>
            <div class="organ">
    
                <div class="organ__photo"></div>
                <!-- <div class="organ__about">
                    
                    

                </div> -->
            </div>
            <!-- <h3>Достопримечательности города</h3> -->
            
    
        </div>
       </div>

   
   

</body>
</html>
